<!--

Purpose: This include file needs to be enabled in Content Management Environment.

It enables features and components that are used by the API layer.

https://github.com/SitecoreSupport/Sitecore.Support.142883

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" >
  <sitecore>
    <experienceAnalytics>
      <api>
        <dimensions>
          <dimension id="{1879168B-AF5E-4E9C-9DAE-8B71125F2AD2}" >
            <transformer  set:type="Sitecore.Support.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.RegionDimensionKeyTransformer, Sitecore.Support.142883" />
          </dimension>
        </dimensions>
      </api>
    </experienceAnalytics>
  </sitecore>
</configuration>